@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html, body {
  height: 100%;
  width: 100%;
}


 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #071108, #364652);

  }


  .search-bar {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    border: 4px solid #ccc; 
    padding: 5px;
    transition: width 0.5s ease, border-color 0.3s ease;
    right: 10px; 
    top: 10px;   
    margin-bottom: 10px; 
    z-index: 1;
  }



  .search-bar input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px); 
    height: 30px;  
    font-size: 1em;
    padding: 1px 10px;  
    outline: 0;
    border: none;
    border-radius: 20px;
    display: none;
    margin-left: 20px;
    margin-top: 5px;
    transition: all 0.3s ease;
  }


  .search-bar .fa {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    padding: 0; 
    width: 20px;
    height: 20px; 
    background-color: transparent;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.5s ease;
  }


  .search-bar:hover {
    width: 500px;
    border-color: #000000;
  }

  .search-bar:hover input {
    display: block;
  }



  .search-bar input:focus {
    border-color: #000000;
    outline: none;
  }
  .movie-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    position: relative;
    gap: 40px;
    flex-shrink: 0;
    overflow: hidden;
  }
  

  .movie-blur-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  

  .movie-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    flex-shrink: 0;
    z-index: 1;
  }

  .movie-poster {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  .movie-poster:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
  }
  .movie-title {
    font-family: 'Rubik Wet Paint', system-ui, sans-serif;
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }

  .movie-right {
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    min-width: 0;
    font-family: 'Lobster', cursive;
    justify-content: flex-start; 
    align-items: flex-start; 
    z-index: 1;
  }
  
 
  
  .movie-description {
    word-break: break-word;
    font-size: 32px;
    margin-top: -300px;
    margin-bottom: -200px; 
    border-radius: 24px; 
    
    border: 0px solid rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
  }
  
  .movie-bottom {
    font-family: 'Roboto', sans-serif;
    align-self: flex-start;
    margin-bottom: -180px;
    margin-top: auto; 
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }

  
  
  
  .movie-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    background-color: transparent;
    position: relative;
  }
  
  .movie-list::before,
  .movie-list::after {
    content: '';
    flex: 0 0 10vw; 
  }
  
  
  .movie-list::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 768px) {
    body, html {
      overflow-y: auto;
    }
  
    .movie-list {
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      height: auto;
    }
  
    .movie-slide {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .movie-left {
      width: 100%;
      align-items: center;
    }
  
    .movie-poster {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 12px;
    }
 
    
    .movie-title {
      font-size: 28px;
      margin-top: 16px;
      text-align: center;
    }
  
    .movie-right {
      width: 100%;
      align-items: flex-start;
      padding: 10px 0;
      gap: 12px;
    }
  
    .movie-description {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  
    .movie-bottom {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
    .scroll-button {
      display: none;
    }
  }

  .scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: none;
  border: none;
  font-size: 40px;
  color: rgb(139, 139, 139);
  cursor: pointer;
  padding: 0 10px;
  opacity: 0.8;
  transition: transform 0.2s ease-in-out;
  transform-origin: center; 
  opacity: 0.3;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.5);
  color: #ffffff;
}
.cinema-hall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.cinema-hall p {
  color: #fff;
  font-size: 22px;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.seat {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.seat:hover {
  transform: scale(1.1);
}

.seat.available {
  filter: hue-rotate(100deg); 
}

.seat.selected {
  filter: hue-rotate(200deg);
  transform: scale(1.1);
  transition: transform 0.2s ease, filter 0.3s ease;
}

.selected-seats {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.custom-button {
  border: none;
  position: absolute;
  width: 300px; 
  height: 100px;
  padding: 0;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat center;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.5s ease-in-out;

}

.custom-button:hover::before {
  width: 100%;

}

.custom-button span {
  position: absolute;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-top: -10px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  pointer-events: none;
  transition: color 0.5s ease-in-out;
}

.custom-button:hover span {
  color: rgb(0, 0, 0);
  z-index: 1;
}


.custom-buttons {
  border: none;
  position: absolute;
  width: 300px; 
  height: 100px;
  padding: 0;
  z-index: 2;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat center;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-buttons::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.5s ease-in-out;

}

.custom-buttons:hover::before {
  width: 100%;

}

.custom-buttons span {
  position: absolute;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-top: -10px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  pointer-events: none;
  transition: color 0.5s ease-in-out;
}

.custom-buttons:hover span {
  color: rgb(0, 0, 0);
  z-index: 1;
}
